
.premium-hyper-link{
    text-decoration: none;
}

.premium-upgrade-button{
        background: #11a683;
        color: #fff;
        font-weight: 700;
        height: 48px;
        width: 284px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 32px;
        position: relative;
        border-radius: 6px;
        cursor: pointer;
}

.premium-upgrade-text{
    

}